body {
    background-image: url("../images/flower.jpg");
   background-repeat: no-repeat;


    background-position: bottom right;
}

#chessboard{
    width: 800px;
    height: 800px;
    border: solid green 10px;
    opacity: .8;


}
.blackBox{
    width: 100px;;
    height: 100px;;
    background-color:darkviolet;
    float: left;
    border-radius: 0%;
    }
.whiteBox{
    width: 100px;
    height: 100px;;
    background-color:plum;
    float: left;
    border-radius: 0%;
}
